<div class="col-xs-1 col-xs-offset-2">
   <h3><span class="glyphicon glyphicon-arrow-up glyphdark" aria-hidden="true"></span></h3>
    <h3><span class="glyphicon glyphicon-arrow-down glyphdark" aria-hidden="true"></span></h3>
</div>

<div class="col-xs-6">
  <h1><%= @question.question %></h1>
  <div class="smallanswer">
    <p> <%= @question.content %> </p>    
  </div>
  <hr>
  <p>Answers: </p>
  <% @question.answers.each do |a| %>
  <div class="smallanswer">
    <p><%= a.content %></p>
    <p>By: <%= a.owner %></p>
  </div>
  <%end%>
</div>

<div class="col-xs-12">
  <% if current_user %>
    <%= link_to "Add an answer", new_question_answer_path(@question) %>
  <%end%>
</div>
