<div class="col-xs-3 col-xs-offset-5">
  <h1>Log In</h1>

  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email], class: "textfield" %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password, nil, class: "textfield" %>
    </div>
    <div class="actions" style="margin-top:12px;"><%= submit_tag "Log In", class: 'btn btn-primary' %></div>
  <% end %>
</div>
